body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-container {
  min-height: 100vh;
}
main {
  flex: 1;
}

.btn-primary {
  background-color: #f0c040;
  color: #000000;
}

.blue-btn-shadow {
  background-color: blue;
  color: #fff;
  box-shadow: 0px 0px 2px 3px rgb(148, 148, 255);
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-img {
  height: 300px;
}

.rating span {
  color: gold;
}

.product img {
  width: 100%;
  object-fit: cover;
}

.img-thumbnail {
  height: 80px;
  width: 50px;
}
