body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-container {
  min-height: 100vh;
  transition: 0.4s;
}
main {
  flex: 1;
}

.btn-primary,
.btn-outline-primary {
  background-color: #f0c040;
  color: #000000;
}

.blue-btn-shadow {
  background-color: blue;
  color: #fff;
  box-shadow: 0px 0px 2px 3px rgb(148, 148, 255);
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-img {
  height: 300px;
}

.rating span {
  color: gold;
}

.product img {
  width: 100%;
  object-fit: cover;
}

.img-thumbnail {
  height: 80px;
  width: 50px;
}

.small-container {
  max-width: 600px;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid darkgrey;
  color: darkgrey;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid orange;
  color: orange;
}

.br-5 {
  border-radius: 5px;
}
.btn-fullWidth {
  width: 100%;
}

.table thead {
  border-bottom: 2px solid black;
}

.text-bold {
  font-weight: bold;
}

/* sidebar */
.navbar-brand {
  font: bold;
}
.side-navbar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-betweenS;
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #100901;
  transition: 0.5s;
}

.active-cont {
  margin-left: 240px;
}
.active-nav {
  left: 0;
}
