body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-container {
  min-height: 100vh;
}
main {
  flex: 1;
}

.btn-primary {
  background-color: #f0c040;
  color: #000000;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
}
.product img {
  width: 100%;
  height: 350px;
  max-width: 350px;
  object-fit: cover;
}
.product-img {
  /* max-height: 300px; */
  height: 300px;
}
.product-info {
  padding: 1rem;
}

.rating span {
  color: gold;
}

.product-page {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.grid-item1 {
  grid-column: 1 / span 2;
  grid-row: 1;
}
